/* html */

html {
    font-size: 14px;
    min-width: 320px;
}

.fr {
    float: right;
}

.fl: {
    float: left;
}

i {
    font-style: normal;
}



/* 导航 */

nav.navbar {
    z-index: 9999;
    opacity: 0.7!important;
    /*position: fixed;*/
    width: 100%;
    top: 0;
    left: 0;
    font-size: 20px;
}

.navbar-brand {
    position: relative;
    background-image: url('../images/logo.jpg');
    background-size: 38px;
    background-repeat: no-repeat;
    background-position: left 50%;
    padding-left: 36px;
    font-size: 20px;
    letter-spacing: -0.04rem;
    color: white;
    min-height: 50px;
    padding-top: 15px;
    line-height: 20px;
}



/* fullpage */

.fullpage {
    text-align: center;
}



/* 第一屏幕 */

.screen01 {
    background: linear-gradient(#3b94f5, #48cefa);
    color: #fff;
    position: relative;
}

.screen01 .bg-img {
    display: flex;
    position: relative;
    background-position: bottom;
    background-size: auto 50%;
    background-repeat: no-repeat;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh;
}

.screen01 .page-title {
    /*margin: 1.5rem auto;*/
    position: relative;
    top: 8rem;
    bottom: 5rem;
    text-align: center;
}

.screen01 .page-title .title {
    opacity: 1;
    font-family: PingFangSC-Medium, Noto Serif, Noto Serif CJK SC, Noto Serif CJK, Source Han Serif SC, Source Han Serif, "source-han-serif-sc", sans-serif;
    font-weight: 900;
    font-size: 1.54rem;
}

.screen01 .page-title .sub-title {
    opacity: 0.7;
    font-size: 1.1rem;
    margin-top: .33rem;
    font-family: PingFangSC-Regular, Noto Serif, Noto Serif CJK SC, Noto Serif CJK, Source Han Serif SC, Source Han Serif, "source-han-serif-sc", sans-serif;
    font-weight: 700;
}

.screen01 .page-content {
    position: relative;
    top: 12rem;
    text-align: center;
    flex: 1;
}

.screen01 .page-content .showcode {
    background-color: #ccc;
    border-radius: 1rem;
    font-family: PingFangSC-Medium, Noto Serif, Noto Serif CJK SC, Noto Serif CJK, Source Han Serif SC, Source Han Serif, "source-han-serif-sc", sans-serif;
    font-weight: 900;
    line-height: 2rem;
    width: 8rem;
    letter-spacing: .3rem;
    padding: 0 1rem;
    text-align: center;
    margin: auto;
    transition: all 0.5s;
}

.screen01 .page-content .showcode:hover {
    box-shadow: 5px 5px 5px 5px #333;
    transform: translateY(-5px);
}

.screen01 .page-content .xkb-code {
    width: 16rem;
    /*position: relative;
	left: 50%;*/
    margin: auto;
    margin-top: 3rem;
    transition: all 0.5s;
}

.screen01 .page-content .xkb-code:hover {
    box-shadow: 5px 5px 10px 10px #333;
    transform: translateY(-10px);
}

.arrow-down-box {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0 0 20px 0;
    left: 50%;
    box-sizing: border-box;
    animation: arrow-shark 1s ease-in-out 1.5s;
}

.arrow-down-box .arrow-down {
    transform: rotate(-90deg);
}

.arrow-down-box .arrow-down::before {
    content: "《";
    opacity: 0.8;
    font-weight: 400;
    font-size: 2rem;
}

@keyframes arrow-shark {
    from {
        bottom: 0;
    }
    50% {
        bottom: 2rem;
    }
    to {
        bottom: 0;
    }
}



/* 第二屏 */

.screen02 {
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    /*flex-direction: column;*/
}

.screen02 .second-left..screen02 .second-right {
    flex: 1;
}

.screen02 .second-left {
    margin: 0 auto;
}

@media(max-width: 480px) {
    .screen02 .second-left {
        display: none;
    }
}

.second-left h1 {
    font-weight: 900;
    color: #ccc;
    font-size: 1.5rem;
    margin-left: 2rem;
    3rem;
}

.second-left h4 {
    font-size: .9rem;
    font-weight: 400;
    margin: 3rem;
}

.second-left .h4-1 {
    margin-left: 2rem;
    1rem;
}

.second-left .h4-2 {
    margin-left: 2rem;
    4rem;
}

.screen02 .second-right {
    width: 19rem;
    height: 80vh;
    margin: 0 auto;
    position: relative;
    background-image: url('../images/iphone.png');
    background-size: contain;
    background-repeat: no-repeat;
    justify-content: center;
    background-position: center center;
    /*flex: 2;*/
    display: flex;
    flex-direction: column;
}

.screen02 .second-right .xkb-img {
    /*width: 5rem;*/
    height: 2.3rem;
    background-size: 80%;
    /*flex: 1;*/
    background-repeat: no-repeat;
    margin: 0.9rem;
}

.now .xkb-img-fir {
    background-image: url('../images/hello.png');
    margin-left: 2rem;
    1rem!important;
    transform-origin: left top;
    /*transform: scale(0);*/
    opacity: 0;
    animation: screen-show 2s ease-in-out 0s forwards;
}

.now .xkb-img-sec {
    background-image: url('../images/help.png');
    /*align-self: flex-end;*/
    margin-left: 2rem;
    0!important;
    transform-origin: left top;
    opacity: 0;
    animation: screen-show 2s ease-in-out 1s forwards;
}

.now .xkb-img-trd {
    background-image: url('../images/service.png');
    margin-left: 2rem;
    1rem!important;
    transform-origin: left top;
    opacity: 0;
    animation: screen-show 2s ease-in-out 2s forwards;
}

.now .xkb-img-fth {
    background-image: url('../images/please.png');
    margin-left: 2rem;
    0!important;
    transform-origin: left top;
    opacity: 0;
    animation: screen-show 2s ease-in-out 3s forwards;
}

@keyframes screen-show {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}



/* 第三屏幕 */

.screen03 {
    background: #335C92;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.screen03 .third-title {
    width: 100%;
    flex: 2;
    /*text-align: center;*/
    /*align-self: flex-end;*/
    font-size: 40px;
    margin: 0 auto;
    position: relative;
}

.screen03 .third-title span {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
}

@media (max-width: 542px) {
    .screen03 .third-title {
        font-size: 30px;
    }
}

@media (max-width: 400px) {
    .screen03 .third-title .third-title-st {
        display: none;
    }
}

@media(max-width: 423px) {
    .screen04 .forth-content div {
        /*margin-top: 2rem;*/
    }
    .screen04 .forth-content div h1 {
        font-size: 0.5rem!important;
        font-weight: 400!important;
    }
    .screen04 .forth-content div h4 {
        display: none;
    }
}


.screen03 .third-content {
    /*width: 100%;
	position: absolute;
	text-align: center;
	margin:12rem auto;*/
    width: 100%;
    flex: 7;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.screen03 .third-content .third-content-left {
    flex: 1;
    /*position: absolute;*/
    /*width: 50%;*/
}

.screen03 .third-content .third-content-left img {
    transition: all 0.5s;
}

.screen03 .third-content .third-content-left img:hover {
    box-shadow: 5px 5px 5px 5px #333;
    transform: translateY(-5px);
}

.screen03 .third-content .third-content-right {
    flex: 1;
    height: 16rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.screen03 .third-content .third-content-right div {}

.screen03 .third-content .third-content-right img {
    margin-top: 2rem;

    display: block;
    flex: 1;
}

.screen03 .third-content .third-content-right .third-img-2 {
    align-self: flex-start;
}



/* 第四屏幕 */

.screen04 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.screen04 .forth-title {
    /*width: 100%;*/
    flex: 10;
    /*position: relative;*/
}

.screen04 .forth-title h1 {
    margin-top: 5rem;
    /*position: absolute;*/
    display: block;
    text-align: center;
    /*bottom: 1rem;*/
    /*left: 50%;*/
    /*margin-left: */
    /*margin:0 auto;*/
    font-size: 40px;
}

.screen04 .forth-title h4 {
    /*position: absolute;
	bottom: 0rem;*/
    font-size: 2rem;
    color: #ccc;
    text-align: center;
    margin-top: .5rem;
}


.screen04 .forth-content {
    flex: 13;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.screen04 .forth-content div {
    margin: 0 1rem;
    text-align: center;
}

.screen04 .forth-content div h1 {
    font-weight: 900;
    font-size: 1.5rem;
    margin: 1rem;
}

.screen04 .forth-content div h4 {
    font-weight: 400;
}

.screen04 .forth-foot {
    flex: 11;
    width: 100%;
    position: relative;
}

.screen04 .forth-foot img {
    height: 60%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: move 2s infinite;
    opacity: 0.7;
}

.screen04 .forth-foot img:nth-child(1) {
    animation: move 2s infinite;
}

.screen04 .forth-foot img:nth-child(2) {
    animation: move 1.8s infinite;
}

@keyframes move {
    0% {
        bottom: 0;
    }
    50% {
        bottom: -50px;
    }
    100% {
        bottom: 0;
    }
}


/* 第五屏幕 */

.screen05 {
    background-image: url('../images/5-bg.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: #335E93;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

.screen05 .five-title {
    flex: 5;
    margin-top: 5rem;
}

@media(max-width: 470px) {
    .screen05 .five-title .five-title-header {
        font-size: 1.5rem!important;
    }

    .screen05 .five-title .five-title-intro {
        font-size: .5rem!important;
        text-align: center;
    }
    .screen05 .five-title .five-title-intro hr{
		display: none;
	}
	.screen05 .five-title .five-title-intro span{
		flex:1;
	}
	.screen05 .five-title .five-title-logo div{
		flex:5!important;
	}
}

.screen05 .five-title .five-title-header {
    font-size: 3rem;
    text-align: center;
}

.screen05 .five-title .five-title-intro, .six-title .six-header{
    width: 100vw;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    margin:1rem;
    font-weight:900;
}

.six-title .six-header{
	font-size:2rem;
	margin:0;
}

.screen05 .five-title .five-title-intro hr,.six-title .six-header hr{
    flex: 1;
    /*color: #fff;*/
    /*margin-top:50%;*/
    color: #fff;
    background-color: #fff;
    margin: 1.2rem;
}
.six-title .six-header hr{
	margin:1.6rem;
}
.screen05 .five-title .five-title-logo,.six-title .six-logo{
	width: 100vw;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    color: #00FFEF;
}
.six-title .six-logo{
	color: #E8FCFB;
}
.screen05 .five-title .five-title-logo span,.six-title .six-logo span{
	/*flex:1;*/
	font-size:3rem;
	height: 100%;
}
.screen05 .five-title .five-title-logo hr ,.six-title .six-logo hr{
	flex: 1;
    /*color: #fff;*/
    /*margin-top:50%;*/
    color: #00FFEF;
    background-color:#00FFEF;
    margin: 2.3rem;
}
.six-title .six-logo hr{
	color:#E8FCFB; 
	background-color:#E8FCFB;
}
.screen05 .five-title .five-title-logo div ,.six-title .six-logo div{
	/*content: "";*/
	flex:10;
	/*display: none;*/
}


.screen05 .five-content {
    flex: 8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*align-items: center;*/
    text-align: center;
}
.screen05 .five-content div{
	max-width: 186px;
	/*margin:2rem;*/
}

.screen05 .five-content div span,.screen05 .five-content div img{
	display: block;
}

.screen05 .five-content div span{
	margin-top: 2rem;
}

/* 第六屏 */
.screen06{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.six-title{
	flex:10;
	margin-top: 5rem;
}
@media(max-width: 460px){
	.six-title .six-logo{
		display: none;
	}
	.six-content{
		font-size:1rem;
	}
}


.six-content{
	flex:14;
	line-height: 2.6rem;
	font-size: 1.5rem;
}

.six-content span{
	font-weight: 900;
}

.six-footer{
	flex:11;
}

/* 第七屏幕 */
.screen07{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.screen07 .map{
	flex:10;
	background-image: url('../images/map.png');
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: .7;
}

.screen07 .seven-footer{
	flex:13;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #fff;
	width: 100vw;
	position: relative;
}
embed{
	width:1.5rem;
	color: #fff;
}
.screen07  .partner{
	position: absolute;
	width: 80%;
	margin: 0 auto;
	background-color: #fff;
	color: #fff;
	border-radius: 3rem;
}
.screen07  .partner ul{
	/*display: inline-block;*/
	
	width: 100%;
	height: 5rem;
}
.screen07  .partner ul li{
	z-index: 9999;
	float: left;
	text-align: center;
	width: 25%;
	margin:2rem;
}
.screen07 .seven-footer .seven-footer-top{
	flex:9;
	background-color: #444A56;
	width: 100%;
	height: 100%;
	z-index: -1;
	padding-top: 18rem;
}

.screen07 .seven-footer .seven-footer-top a{
	padding: 0 2rem;
	font-size:1.5rem;
}

.screen07 .seven-footer .seven-footer-top span{
	display: inline-block;
	text-align: center;
	line-height: 2rem;
	height: 2rem;
	font-size:1.1rem;
}
.screen07 .seven-footer .seven-footer-bottom{
	flex:2;
	background-color: #4F535C;
	width: 100%;
	height: 100%;	
	text-align: center;	
	padding-top: 1rem;
}